body {
	background-color: rgb(206,60,60);
}
#title {
	height: 100px;
}
input[type="file"] {
	display: none;
}
#animation {
	display:block;
	transform:scale(2);
	transform-origin:bottom left;
	image-rendering: pixelated;
}