@font-face {
	font-family: 'titlefont';
	font-display: block;
	src: url('assets/fonts/titlefont.woff');
}
@font-face {
	font-family: 'arrows';
	font-display: block;
	src: url('assets/fonts/arrows.woff');
}
@font-face {
	font-family: 'flags';
	font-display: block;
	src: url('assets/fonts/flags.woff');
}
@keyframes spin { 100% { transform:rotate(360deg); } }
@keyframes dotty { 0% { content: ''; }  25% { content: '.'; }  50%  { content: '..'; }  75% { content: '...'; }  100% { content: ''; } }
@keyframes spriteanim { from { background-position: top; } to { background-position: bottom; } }
@keyframes creditsanim { 0% { background-position-y: 0% } 50% { background-position-y: 100% } 100% { background-position-y: 0% } }

html {
	--arrow-forwards: '▸';
	--arrow-backwards: '◂';
}

:dir(rtl) { /* not supported by many browsers... */
	--arrow-forwards: '◂';
	--arrow-backwards: '▸';
}

html[lang|="ar"], html[lang|="dv"], html[lang|="fa"], html[lang|="he"], html[lang|="ur"]/*, html[lang|="az"], html[lang|="ku"]*/ { /* ... so let’s do it manually */
	direction: rtl;
	--arrow-forwards: '◂';
	--arrow-backwards: '▸';
}

body {
	background-color: rgb(206,60,60);
	margin: auto;
	width: fit-content;
	text-align: center;
	padding: 2px 0.8rem; /* keep integer px vertically to avoid animation waggle */
	transform-origin: top center;
}

a {
	color: #1037A3;
}

a:not([href='#']):not([href='']):visited {
	color: #405ba3;
}

#back-to-site {
	text-align: start;
	position: absolute;
	margin: 1rem;
	inset-inline-start: 0;
	height: 1.8em;
	font-family: arrows;
	font-size: 2rem;
	cursor: pointer;
}
#site-logo {
	vertical-align: middle;
	height: 100%;
	margin: 0 0.2em;
}
#back-to-site-arrow {
	display: inline-block;
	vertical-align: middle;
}
#back-to-site-arrow::before {
	content: var(--arrow-backwards);
	color: white;
}
#back-to-site:hover #back-to-site-arrow::before {
	color: #EAB749;
}

#title-container {
	display: block;
	text-shadow: 3px 3px 2px #00000040;
	margin: auto;
	margin-top: 3rem;
	width: fit-content;
	text-align: start;
	font-family: titlefont, Arial Black, sans-serif;
	color: #EBEBEB;
}
#title-o {
	height: 1.06em;
	vertical-align: middle;
	margin-left: 0.02em; /* rtl-proofed */
	filter: drop-shadow(3px 3px 1px #00000040);
}
#title {
	font-weight: normal; /* bold is too large with certain mobile browsers & languages, the bold variant doesn’t exist anyway */
	font-size: 3.375em;
	text-transform: uppercase;
	text-align: start;
	margin: -0.06em 0 0em 0;
	line-height: 0.88em;
}
#title span {
	vertical-align: middle;
}
.subtitle {
	text-align: end;
	margin-top: 0;
	margin-left: 0.2em; /* rtl-proofed */
	margin-right: 0.03em; /* rtl-proofed */
}
.subtitle:not(:last-child) {
	margin-bottom: 0;
}

.area {
	vertical-align: middle;
	height: 19.5rem;
	width: 23.75rem;
	display: inline-block;
	margin: auto;
	padding: 0.94em 0.625em;
	border-radius: 1.25rem;
	border-width: 0.19rem;
	/*overflow: hidden;*/
	position: relative;
	box-shadow: 2px 2px 0.5em #00000030;
}

#input-area {
	border-color: #FFFFFF40;
	border-style: dashed;
	background-color: #FFFFFF40;
}
#input-area.drop-first-time {
	cursor: pointer;
}
#input-area.drag {
	background-color: #FFFFFF80;
	-webkit-user-select: none;
}
#input-area.drop-first-time, #input-area.drag {
	background-image: url("assets/drop-icon-alpha.svg");
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center;
}
#input-area.drag .info-frame {
	opacity: 0.1;
}

#input-area.disabled {
	border-color: transparent;
	background-color: #FFFFFF28;
}

#output-area {
	border-color: transparent;
	border-style: solid;
	transition: width .2s ease-in-out, opacity 1s ease-out;
	background-color: #FFFFFF28;
}

#arrow-between-areas {
	display: inline-block;
	vertical-align: middle;
	transition: width .2s ease-in-out, opacity 1s ease-out;
	margin: 0.5rem;
	text-shadow: 3px 2px 4px #00000030;
}

#output-area.hidden.hidden-first-time, #arrow-between-areas.hidden.hidden-first-time {
	padding: 0;
	margin: 0;
	border-width: 0;
}
#output-area.hidden, #arrow-between-areas.hidden {
	opacity: 0;
	transition-duration: 0s;
	pointer-events: none;
}

#arrow-between-areas::after {
	font-family: arrows;
	font-size: 5rem;
	color: #FFFFFFA0;
	content: var(--arrow-forwards);
	line-height: 0.6em;
}

#rom-container {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 0.125em;
}
#rom-file {
	display: none;
}
#rom-btn {
	min-width: 6em;
	max-height: 1.9em;
	vertical-align: middle;
}
#rom-filename {
	cursor: pointer;
	vertical-align: middle;
	margin: 0 0.31em;
}
#rom-filename:empty, #rom-label {
	display: none;
}
#input-area.drop-first-time #rom-filename {
	cursor: auto;
	pointer-events: none;
}

#msg-container {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 1.5em;
}

#input-area.drop-first-time #msg-container {
	position: absolute;
	color: #FFFFFF80;
	left: 0;
	right: 0;
	bottom: 2.4rem;
	padding: 0 0.8em;
	white-space: normal;
	height: initial;
}


#msg.error {
	color: darkred;
}
#msg.error::before {
	content: '✗ ';
}
#msg.warning::before {
	content: '⚠ ';
}
#msg.ok::before {
	content: '✓ ';
}
#msg.loading span {
	vertical-align: middle;
}

.loading-spin {
	width: 1.5em;
	display: inline-block;
	position: relative;
	animation: spin 1s ease-in-out infinite;
	vertical-align: middle;
}
.loading-spin::before {
	width: 0.375em;
	height: 0.375em;
	background-color: #FFFFFFB0;
	border-radius: 3px;
	display: inline-block;
	content: "";
	position: absolute;
	top: 0;
	margin: 0 -0.625em;
}
.loading-text::before {
	content: ' ';
}

#input-rom-checksum {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1rem;
	margin: 0;
	padding: 0 1em;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 82%;
	opacity: 0.8;
}

.no-flag-emojis select {
	font-family: sans-serif, flags;
}

#patch-select-container {
	margin-top: -0.2rem;
	margin-bottom: 0.94rem;
}
#patch-select-label {
	display: block;
	margin: 0;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
#patch-select {
	width: 90%;
	height: 1.8em;
}
#patch-select > option.unavailable {
	color: grey;
}

#show-all-container {
	line-height: 1.5em;
	font-size: 0.95em;
	white-space: nowrap;
	display: inline-block;
	max-width: 100%;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
#show-all-container > * {
	vertical-align: middle;
}
#show-all-option {
	width: 1.1em;
	height: 1.1em;
	margin: 0.3em 0;
}
.info-frame {
	background-color: #FFFFFF20;
	border-radius: 5px;
	margin: 0.5em 0;
	padding: 0 0.5em;
	position: absolute;
    width: calc(100% - 0.5em - 0.5em - 0.625em - 0.625em); /* margin, parent padding */
    top: 4.63rem;
	white-space: nowrap;
	box-shadow: 2px 2px 4px #00000010;
}
.info-frame p {
	margin: 0.5rem 0;
	line-height: 1.2em;
}
.info-frame > p {
	padding: 0 0.125em;
}
.info-frame > p:first-child {
	margin-top: 0.5rem;
}
.info-frame > p:last-child {
	margin-bottom: 0.4rem;
}
.info-title {
	font-weight: bold;
	white-space: normal;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
}
.info-title span {
	unicode-bidi: isolate;
	word-break: keep-all;
}
.no-flag-emojis .info-title {
	font-family: serif, flags;
}
.info-boxart {
	width: 5rem;
	height: 5rem;
	object-fit: contain;
	vertical-align: middle;
	filter: drop-shadow(2px 2px 1px #00000030);
}
.info-references {
	margin-inline-start: 1rem;
	max-width: calc(100% - 5rem - 1rem - 0.5em); /* boxart width, margin start, extra margin end */
	text-align: start;
	display: inline-block;
	vertical-align: middle;
}
.info-boxart, .info-references {
	margin-bottom: 0.5rem;
}
.info-references:empty {
	display: none;
}
.info-references > p {
	max-width: fit-content;
	font-size: min(1em,4vw);
}
.info-references > p > * {
	display: block;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: visible;
	text-overflow: ellipsis;
}
.info-references > p:first-child {
	margin-top: 0;
}
.info-references > p:last-child {
	margin-bottom: 0;
}
.info-version-label *:first-child::before {
	content: '💡 ';
}
.info-website a::before {
	content: '🌐 ';
}
.info-link-host {
	display: block;
	font-size: smaller;
	text-align: center;
	margin: -0.125rem 0;
}
.info-doc a::before {
	content: '📄 ';
}
.info-version-label *:first-child::before, .info-website a::before, .info-doc a::before {
	display: inline-block;
	font-size: 0.9em; /* to avoid cutting the top/bottom of the emoji */
}
.info-frame p.info-nb-uses {
	line-height: 1.2em;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: min(0.9em,4vw) !important;
}

.info-loading > span:not(:last-child)::after {
	display: inline-block;
	animation: dotty steps(1,end) 1s infinite;
	content: '';
	width: 1em;
	text-align: start;
	opacity: 0.5;
}

input[type=button], button {
	font-size: larger;
}

#apply-btn {
	font-weight: bold;
	width: 16em;
	max-width: 90%;
	height: 2em;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1rem;
	margin: auto;
}

#animation-container {
	width: 17.5rem;
	height: 4.25rem; /* keep 280:68 ratio */
	max-width: 80vw;
	max-height: 19.4vw; /* keep 280:68 ratio */
	overflow: hidden;
	margin: auto;
	display: flex;
	justify-content: center;
	margin-top: -2.125rem;
	margin-bottom: -0.25rem;
	-webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
	mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}

#animation {
	margin: auto;
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
	background-repeat: no-repeat;
	background-size: 100%;
	animation-name: spriteanim;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	filter: drop-shadow(2px 2px 0px #00000040);
}

#about-btn-container {
	display: block;
	margin-top: 3rem;
	margin-bottom: 2rem;
}
#about-close-btn {
	top: 0;
	z-index: 99;
	font-weight: bold;
	font-size: 2.2rem;
	cursor: pointer;
	position: sticky;
	text-align: end;
	height: 0;
	margin: 0 0.875rem;
	line-height: 1.875rem;
}
#about-close-btn:hover {
	color: #EAB749;
}

#about-window-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #00000090;
	transition: opacity .2s ease-out;
}
#about-window {
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	text-align: start;
	background-color: #8F2A2B;
	color: white;
	opacity: 0.94;
	position: fixed;
	width: fit-content;
	max-width: min(45rem,90vw,90%);
	max-height: min(80vh,80%);
	overflow-x: hidden;
	overflow-y: auto;
	margin: auto;
	padding: 0.5em 0;
	box-shadow: 0 0 1em #BBBBBB;
	border-radius: 0.63rem;
	border: 0.25rem solid white;
	transition: opacity .2s ease-out;
}
#about-window-inside {
	min-height: 100%;
	position: relative;
	overflow-y: auto;
}
#about-window.closed-credits, #about-window-overlay.closed-credits {
	opacity: 0;
	pointer-events: none;
}
#about-window a {
	color: #EAB749;
}
#credits-staff, #about-side {
	margin: 0 1.25rem;
}
#credits-logo {
	content: url('assets/site-title-light.png');
	display: inline-block; /* Chrome won’t resize otherwise?? */
	margin-top: 0.625rem;
	width: 12.5rem;
}
#credits-staff {
	float: left; /* if inline-start not supported */
	float: inline-start !important;
	width: fit-content;
	min-width: 20rem;
}
#credits-staff h2 {
	margin: 0.7rem 0;
}
#credits-staff dt {
	margin-top: 0.5rem;
}
#credits-staff dd {
	margin-inline-start: 2rem;
}
select#credits-texts {
	max-width: 18rem;
}
#about-side {
	display: block;
	overflow: hidden;
	min-width: 14rem;
	padding-top: 1em;
	margin-bottom: 1.9rem;
}
#about-side * {
	vertical-align: top;
}
#about-side span {
	white-space: pre-line;
}
#about-side select {
	width: 100%;
}
#about-version {
	position: absolute;
	bottom: 0;
	padding: 0 1.5rem;
	width: 100%;
	box-sizing: border-box;
	text-align: end;
}
#about-side span#about-saturn {
	white-space: nowrap; /* make sure it’s not overridden by #about-side span */
}
#about-saturn::after {
	content: '';
	margin: -0.2em 0.36em;
	width: 1em;
	height: 1.3125em; /*ratio 16:21*/
	display: inline-block;
	image-rendering: pixelated;
	background-image: url("assets/anim/saturn.png");
	background-repeat: no-repeat;
	background-size: 100%;
	animation-iteration-count: infinite;
	animation-name: creditsanim;
	animation-duration: 1s;
	animation-timing-function: steps(1);
}

@media not all and (max-width: 58rem) {
	body {
		min-width: calc(58rem - 0.8rem - 0.8rem); /* body padding sides × 2 */
	}

	#output-area.hidden.hidden-first-time, #arrow-between-areas.hidden.hidden-first-time {
		width: 0;
	}
}

@media (max-width: 58rem) {
	#back-to-site {
		font-size: 1.5rem;
	}

	#title-container {
		margin-top: 5.5rem;
	}

	.area, #arrow-between-areas {
		display: block;
	}
	.area {
		height: 20rem;
	}
	#output-area, #arrow-between-areas {
		transition: opacity 1s ease-out;
	}
	#arrow-between-areas::after {
		content: '▾';
		line-height: 0.45em;
	}
	#output-area.hidden, #arrow-between-areas.hidden {
		transition-duration: 0s;
		height: 0; /* allows the credits button to be directly below */
		z-index: -99; /* prevents overlapping the credits button */
	}
	#arrow-between-areas.hidden::after {
		content: ''; /* prevents overlapping the credits button */
	}
}

@media (max-width: 48rem) {
	#credits-staff {
		min-width: unset;
	}
}

@media (max-width: 38rem) {
	#title-container {
		font-size: 2.8vw;
		margin-bottom: 5vw;
	}
	.area {
		max-width: 85vw;
		min-width: 9.5rem;
		padding: 0.94em 0.4em;
	}
	#output-area {
		height: 21.25rem;
	}
	.info-frame {
		overflow-x: hidden;
		width: calc(100% - 0.5em - 0.5em - 0.4em - 0.4em); /* margin, parent padding */
	}
	.info-references {
		margin-inline-start: 0.6em;
		max-width: calc(100% - 5rem - 0.6em - 0.5em); /* boxart width, margin start, extra margin end */
	}
	select#credits-texts {
		width: 100%;
	}
}
@media (max-width: 24rem) {
	#msg {
		font-size: 4.1vw;
	}
}
